*{
    margin: 0;
    box-sizing: border-box;
}

.App{
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display: flex;
    justify-content: center;
}

.signing{
    width: 1400px;
    display: flex;
    justify-content: center;
}
